<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <!-- Plugins CSS -->
    <link href="/static/css/plugins/plugins.css" rel="stylesheet">
    <link href="/static/smart-form/smart-templates/css/smart-forms.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body class="layout-vertical">

<div class="page-wrapper sidebar-enable">
{% block body %}{% end %}
  <footer id="footer" class="page-footer"></footer>
</div>


<script type="text/javascript" src="/static/js/plugins/plugins.js"></script>
<script type="text/javascript" src="/static/js/assan.custom.js"></script>
<script type="text/javascript" src="/static/js/convsocket.js"></script>
</body>
</html>