{% extends "base.html" %}
{% block body %}
<div class="layout-accounts">

    <div class="account-wrap">
        <div class="account-card">
            <div class="account-content smart-forms">
                <div class="text-center">
                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                </div>
                <form method="post" action="#" id="contact">
                    <div class="form-body">
                        <div class="spacer-t30 spacer-b30">
                            <div class="tagline"><span> Create account </span></div><!-- .tagline -->
                        </div>
                        <div class="section">
                            <label class="field prepend-icon">
                                <input type="text" name="name" id="name" class="gui-input" placeholder="Enter Name">
                                <span class="field-icon"><i class="fa fa-user"></i></span>
                            </label>
                        </div><!-- end section -->
                        <div class="section">
                            <label class="field prepend-icon">
                                <input type="email" name="email" id="email" class="gui-input"
                                       placeholder="Enter Email Id">
                                <span class="field-icon"><i class="fa fa-user"></i></span>
                            </label>
                        </div><!-- end section -->
                        <div class="section">
                            <label class="field prepend-icon">
                                <input type="text" name="password" id="password" class="gui-input"
                                       placeholder="Enter password">
                                <span class="field-icon"><i class="fa fa-lock"></i></span>
                            </label>
                        </div><!-- end section -->

                    </div><!-- end .form-body section -->
                    <div class="form-footer">
                        {% module xsrf_form_html() %}
                        <button type="submit" class="btn btn-primary btn-block">Create account</button>
                    </div><!-- end .form-footer section -->
                    <div class="spacer-t30 spacer-b30 pt20">
                        <div class="tagline"><span> OR  Already have an account </span></div><!-- .tagline -->
                    </div>
                    <div class='text-center'>
                        <a href='/auth/login'>Login here</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% end %}